body {
	font-size:18px;
	line-height:25px;
	padding-top:50px;
}
.header {
	text-align:center;
}

.header h1 {
	font-size:50px;
}

.header p {
	margin:30px 0 50px 0;
}

.content {
	padding-top:20px;
	padding-bottom:20px;
}